<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876692815907-4atcu6jhqia7eruk9rb6fjgmsiv28809.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876692815907-4atcu6jhqia7eruk9rb6fjgmsiv28809</string>
	<key>API_KEY</key>
	<string>AIzaSyDfcw4WhsT8VVihxdwAOu_Fo2Se7raxA_s</string>
	<key>GCM_SENDER_ID</key>
	<string>876692815907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cis454-login.cis454Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-2b885</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2b885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876692815907:ios:a5cf416ff9b212ef147196</string>
	<key>DATABASE_URL</key>
	<string>https://fir-2b885.firebaseio.com</string>
</dict>
</plist>